.footer {
  padding: 60px 0;

  background: var(--hero-background-color);
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__contacts {
    margin-top: 20px;
    color: var(--secondary-accent-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &__link {
      color: rgba(255, 255, 255, 0.6);

      text-decoration: none;
    }
  }

  &__call-to-action {
    margin: 0;
    padding-top: 7px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-accent-color);
  }

  .social-network {
    margin-top: 20px;
    display: flex;

    &__link {
      background-color: rgba(255, 255, 255, 0.1);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
    }

    &__icon {
      fill: var(--secondary-accent-color);
    }
  }
}

.address-section {
  margin-right: 70px;
  width: 231px;
}

.subscribe-section {
  margin-left: 93px;

  &__form {
    display: flex;
    align-items: flex-end;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    padding: 7px 0 0;
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;

    color: var(--secondary-accent-color);
  }

  &__input {
    width: 358px;
    height: 50px;
    padding: 0;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--secondary-accent-color);

    &::placeholder {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: 12px;
    align-items: center;
    justify-content: center;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--secondary-accent-color);

    &__icon {
      margin-left: 10px;
    }

    &:focus {
      outline: none;
    }
  }
}
