.team {
  padding: 94px 0;
  background-color: var(--secondary-background);

  &__member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-background);

    &__name {
      margin: 0;
      color: var(--primary-text-color);

      font-weight: 500;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.03em;
    }

    &__position {
      margin: 10px 0 0;
      color: var(--secondary-text-color);

      font-weight: 400;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.item-wrapper {
  padding: 30px 32px;
}
