:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --hero-background-color: #2f303a;
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --activities-label-background: rgba(47, 48, 58, 0.8);
  --primary-icon: #afb1b8;
}
